<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 设置日志打印方式 -->
	<settings>
		<setting name="logImpl" value="LOG4J" />
		<!-- <setting name="autoMappingBehavior" value="NONE"/> -->
	</settings>
	<!-- 配置别名 -->
	<typeAliases>
		<!-- <typeAlias type="cn.bdqn.smbms.pojo.User" alias="user" /> <typeAlias 
			type="cn.bdqn.smbms.pojo.Role" alias="role" /> -->
		<package name="cn.smbms.pojo" />
	</typeAliases>
	<mappers>
		<mapper resource="cn/smbms/dao/user/UserMapper.xml" />
	</mappers>
</configuration>
